<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="admin-layout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="content" id="app">
    <div class="col-md-12">
        <h2 class="text-center">Kup bilet</h2>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="from" class="col-sm-4 control-label">Z:</label>
            <div class="col-sm-4">
                <select id="from">
                    <option>Warszawa</option>
                    <option>Wrocław</option>
                    <option>Łódź</option>
                    <option>Gdańsk</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="to" class="col-sm-4 control-label">Do:</label>
            <div class="col-sm-4">
                <select id="to">
                    <option>Wrocław</option>
                    <option>Łódź</option>
                    <option>Gdańsk</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="amount" class="col-sm-4 control-label">Ilość:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="amount" placeholder="Ilość" v-model="playerDto.price"/>
            </div>
        </div>


        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <a th:href="@{/view-ticket}" type="submit" class="btn btn-default">Kup bilet</a>
        </div>
    </div>
</section>

<section layout:fragment="ext-footer-scripts">
    <script src="/js/admin/admin-add-player.js"></script>
</section>
</body>
</html>