<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="admin-layout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>
<body>
<section layout:fragment="content" id="app">
    <div class="login-page">
        <div class="form">
            <form th:object="${login}" class="register-form" th:action="@{/buy-ticket}" method="get">
                <input th:field="*{username}" type="text" placeholder="nazwa użytkownika"/>
                <input th:field="*{password}" type="password" placeholder="hasło"/>
                <button>Utwórz</button>
                <p class="message">Masz konto? <a href="#">Zaloguj się</a></p>
            </form>
            <form th:object="${login}" class="login-form" th:action="@{/buy-ticket}" method="get">
                <input th:field="*{username}" type="text" placeholder="nazwa użytkownika"/>
                <input th:field="*{password}" type="password" placeholder="hasło"/>
                <button>Zaloguj</button>
                <p class="message">Nie masz konta? <a href="#">Załóż konto</a></p>
            </form>
        </div>
    </div>
</section>

<section layout:fragment="ext-footer-scripts">
    <script src="/js/login.js"></script>
</section>
</body>
</html>