<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="admin-layout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="content" id="app">
    <div class="col-md-12">
        <h2 class="text-center">Podgląd biletu</h2>
    </div>

    <div class="col-md-12">
        <h2 class="text-center"></h2>
    </div>

    <div v-cloak="">
        <div class="text-center">
            <h3>Z: Warszawa</h3>
            <br/>
            <h3>Do: Wrocław</h3>
            <br/>
            <h3>Ilość: 2</h3>
            <br/>
            <h3>Kod QR:</h3>
            <br/>
            <img src="/qr.png"/>
            <br/>
        </div>
    </div>
</section>

<section layout:fragment="ext-footer-scripts">
    <script src="/js/admin/admin-add-player.js"></script>
</section>
</body>
</html>